@import "@mariozechner/pi-web-ui/app.css";

@import "./styles/tokens.css";
@import "./styles/layout.css";
@import "./styles/workspace.css";
@import "./styles/message-actions.css";
@import "./styles/dialogs.css";
@import "./styles/mobile.css";
